body {
    background-image: url("bg5.jpg");
    background-color: #000000;
    background-size: 1400px 800px;
    }
    
h1{font-size: 300%;
    color: #ffffff;
    font-family: 'Lucida Console';
    font-style: bold;
    text-align: left;
}

p{font-size: 150%;
    color: #ffffff;
    font-family: 'Monaco';
    font-style: bold;
    text-align: left;
}

a:link, a:visited {
    background-color: #4336f4;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    }
    
a:hover, a:active {
    background-color: #4336f4;
    }


div.absolute {
    position: absolute;
    top: 80px;
    right: 100px;
    }