<!DOCTYPE html>
<html>
<head>
    <title>Motto</title>
    <link rel="stylesheet" href="motto.css">
</head>
<body>
    <h1>This is  my favorite quote or motto in life.</h1>

    <p>
        This is from the series, 'The End of the F*cking World'. The quote suggests that in a world that is chaotic, disordered, or fundamentally flawed, behaving in a way that might be considered "mad" or unconventional by societal standards could actually be a rational and sane response. The underlying idea is that what might be perceived as madness in the context of a deranged world could be a reasonable reaction to the challenges, absurdities, or injustices of that environment.
</body>
</html>
