<!DOCTYPE html>
<html>
<head>
    <title>Profile</title>
    <link rel="stylesheet" href="profile.css">
</head>
<body>
    <h1>Hi! It's me Shane.</h1>

    <p>
    Good day! My name is Shane Hazel Gupit. I am from the lands of Rizal. I am 20 years old. People always have an impression about me being a cool person. Also, they sense the gay aura in me, which is true. I am loud and proud.
    </p>
    <ul>
        <li>
            <a href="/program">My Program</a> 
            <a href="/section">My Section</a>
            <a href="/motto">My Motto</a>
        </li> 
    </ul>
</body>
</html>
