<!DOCTYPE html>
<html>
<head>
    <title>Program</title>
    <link rel="stylesheet" href="program.css">
</head>
<body>
    <h1>I am a Computer Engineering student.</h1>

    <p>
        Computer engineering is a multidisciplinary field that combines principles and techniques from both electrical engineering and computer science. This field focuses on the design, development, and maintenance of computer systems and networks, with an emphasis on hardware and software integration.
    </p>
</body>
</html>
