<!DOCTYPE html>
<html>
<head>
    <title>Convert to Uppercase</title>
    <link rel="stylesheet" href="contact.css">
</head>
<body>
    <h1>Convert String to Uppercase</h1>

    <h2>
    <form action="/uppercase" method="post">
        <label for="inputString">Enter a string:</label>
        <input type="text" id="inputString" name="inputString">
        <input type="submit" value="Convert">
    </form>
    </h2>

    {% if result %}
    <p>Converted string: {{ result }}</p>
    {% endif %}
</body>
</html>
