<!DOCTYPE html>
<html>
<head>
    <title>Profile Page</title>
    <link rel="stylesheet" href="works.css">
</head>
<body>
    <h1>Here are the functions you can use:</h1>
    <ul>
        <li>
            <a href="/areaOfcircle">Want to get the area of a circle?</a>
        </li> 
        <li>
            <a href="/areaOfTriangle">Want to get the area of a triangle?</a>
        </li> 
        <li>
            <a href="/touppercase">Want to uppercase your words?</a>
        </li> 
    </ul>
</body>
</html>
